body{
    margin: 0;
    padding: 0;

}

.arr {
    height: 100vh;
    background-color: #e7e7e7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .arr .ab {
    background-color: #1E56B7;
    height: 50vh;
  }

  .pos {
    position: absolute;
    min-width: 360px;
    min-height: 100px;
    right: 20%;
    left: 20%;
    top: 20%;
    background-color: rgb(255, 255, 255);
  }

  .mc {
    position: absolute;
    min-width: 360px;
    min-height: 100px;
    right: 35%;
    left: 35%;
    top: 30%;
    background-color: #fff;
    -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    -webkit-perspective: 800px;
            perspective: 800px;

  }